<?xml version="1.0"?>
<log4net>
  <appender name="DefaultLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/MyEvernote/default.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="DebugLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/MyEvernote/debug.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="InfoLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/MyEvernote/info.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="WarnLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/MyEvernote/warn.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/MyEvernote/error.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="FatalLogAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../logs/MyEvernote/fatal.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
  <root>
    <level value="WARN"/>
    <appender-ref ref="GeneralLog"/>
  </root>
  <logger name="DebugLogger" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="DebugLogAppender"/>
  </logger>
  <logger name="InfoLogger" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="InfoLogAppender"/>
  </logger>
  <logger name="WarnLogger" additivity="false">
    <level value="WARN"/>
    <appender-ref ref="WarnLogAppender"/>
  </logger>
  <logger name="ErrorLogger" additivity="false">
    <level value="ERROR"/>
    <appender-ref ref="ErrorLogAppender"/>
  </logger>
  <logger name="FatalLogger" additivity="false">
    <level value="FATAL"/>
    <appender-ref ref="FatalLogAppender"/>
  </logger>
</log4net>